@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    font-family: 'Roboto', sans-serif;
    /* background: #fffbd5;
    background: -webkit-linear-gradient(to right, #b20a2c, #f3a3a3);
    background: linear-gradient(to right, #b20a2c, #f3a3a3); */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4.5rem;
    width: 100%;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(100, 100, 100);
    font-weight: 800;

    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.40));
    /* background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000); */
}

.nav-items {
    padding-right: 4rem;
}

ul {
    display: flex;
    font-size: 22px;
    list-style-type: none;
}

li {
    margin: 22px;
    transition: all 0.5s ease;
}

.main-li {
    color: red;
}

.nav-items ul li a{
    transition: all 0.5s ease;
}

li:hover {
    cursor: pointer;
    color: red;
}

.hover > a:hover {
    cursor: pointer;
    color: red;
}

.container-bg {
    color: white;
    height: 70vh;
    margin: 5rem 30rem;
    background: rgb(6,6,6);
    background: linear-gradient(90deg, rgba(103, 103, 103, 0.258) 31%, rgba(65,65,65,1) 67%);
    border-radius: 8px;
}

.container-bg h1 {
    text-align: center;
    padding: 2rem;
    font-size: 40px;
    width: 100%;
}

.user-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    border-radius: 50em;
    object-fit: fill;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
}

i {
    padding: 16px;
}

.username {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


.username, .password {
    width: 46%;
    border-radius: 8px;
    background: rgb(100, 100, 100);
    border: 4px solid linear-gradient(to right, #0A2335, #2F404E) border-box;
}

input {
    padding: 20px;
    border-left: 3px solid #494949;
    font-size: 20px;
}

.login-btn {
    text-align: center;
    margin-top: 2rem;
    padding: 0.3rem;
    background-color: #09131a;
    width: 46%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 19px;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #09131a9a;
}


footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 150px;
    background: #111;
    font-weight: 800;
}

footer .footer-entire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1350px;
    margin: auto;
    padding: 20px;
}

footer .footer-entire p,
a {
    color: #fff;
}

.hours {
    margin-top: 12px;
    font-size: 15px;
    line-height: 32px;
    color: #fff;
}

.mail {
    display: flex;
    align-items: center;
}

.mail-text {
    margin-left: 10px;
    font-size: 15px;
}

.phone {
    display: flex;
    align-items: center;
}

.phone-number {
    margin-left: 10px;
    font-size: 15px;
}

.location {
    display: flex;
    align-items: center;
}

.address {
    margin-left: 10px;
    font-size: 15px;
}

.icon-tabler-map-pin {
    color: white;
}

a {
    text-decoration: none;
}

.no-acc {
    margin-top: 1rem;
    width: 45%;
    text-decoration: underline;
    cursor: pointer;
}

footer .footer-entire .box {
    width: 33%;
    transition: all 0.4s ease;
}

footer .footer-entire .footer-title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

footer .footer-entire .left {
    padding-left: 80px;
}

footer .footer-entire .left a {
    line-height: 30px;
}

footer a {
    transition: all 0.3s ease;
}

footer a:hover {
    color: red;
}

@media (max-width:1100px) {
    footer .footer-entire .left {
        padding-left: 50px;
    }
}

@media (max-width:950px) {
    footer .footer-entire .box {
        width: 50%;
    }

    .footer-entire .right {
        margin-top: 40px;
    }
}

@media (max-width:600px) {
    footer {
        position: relative;
    }

    footer .footer-entire .box {
        width: 100%;
        margin-top: 30px;
    }
}